@font-face {
    font-family: 'Rudaw';
    src: url('/css/fonts/RUDAWBOLD.TTF');
}

@font-face {
    font-family: 'Bookman Old Style';
    src: url('/css/fonts/BOOKOS.TTF');
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0px;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    z-index:1021;
}

/* Position the content inside the overlay */
.overlay-content {
    font-family: Rudaw;
    position: relative;
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 16px;
    color: yellow;
    font-family: Rudaw;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 24px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#rightoverly {
    float: right;
}

.blockinformationoverly {
    border: solid 1px navy;
    border-radius: 10px;
    margin-top: 10px;
}

.navbar-light .navbar-nav .nav-link  {
    text-decoration: none;
    font-style: normal;
}
.dropdown-menu{
    font-style:normal;
    text-align:left;
}
.memberoverly {
    text-align: right;
    color: yellow;
}

.right-balaoverly {
    margin: 0 auto;
    width: 100%;
    height: 30px;
    text-align: center;
    color: black;
    font-size: medium;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #0dcaf0;
    font-family:'Bookman Old Style';
    font-size:20px;
}



.right-vasatoverly {
    text-align: right;
    width: 100%;
}

    .right-vasatoverly ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

        .right-vasatoverly ul li a {
            color: #0d6efd;
            text-decoration: none;
        }

        .right-vasatoverly ul li:hover {
            background-color: navy;
            color: white;
        }

            .right-vasatoverly ul li:hover a {
                color: white;
            }

        .right-vasatoverly ul li img:hover {
            background-color: yellow;
            border-radius: 5px;
        }

.right-payinoverly {
    margin-right: 5px;
    width: 150px;
    height: 10px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    text-align: center;
}

.row {
    border: solid 1px #0dcaf0;
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    width: 99%;
}

.table {
    border-style: inset;
    border-width: 3px;
    border-color: #2a3542;
    margin: 0px;
}

thead {
    background-color: navy;
}

th {
    border-style: inset;
    background-color: #2a3542;
    color: yellow;
}

tr {
    border-style: none;
    border-width: 5px;
    border-color: #2a3542;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 5px;
    margin: 0
}

dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */

    padding: 0;
    margin: 0
}

dd {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */

    padding: 0;
    margin: 0
}

.pagination {
    margin: 0px;
}

    .pagination PagedList-pageCountAndLocation disabled page-item {
        display: none;
    }
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.pagination {
    justify-content: center;
    direction: ltr;
}

.labelregister {
    width: 85px;
    float: right;
    height: 35px;
}

.labelformnumber {
    width: 85px;
    float: right;
    height: 35px;
    margin-top: 7px;
}

.txtcheckdiv {
    width: 170px;
    float: right;
    height: 35px;
}

.membercontainer {
    width: 100%;
    float: right;
}

.textregister {
    width: 170px;
    float: left;
    height: 35px;
}

.divimgpersonal {
    width: 202px;
    margin: 0 auto;
    height: 202px;
    border: 1px solid navy;
    border-radius: 5px;
}

.imgpersonal {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.divrowbutton {
    width: 100%;
    float: right;
}

.divrowmessage {
    width: 100%;
    float: right;
    text-align: center;
    font-family: Rudaw;
    color: black;
    background-color: red;
    border-radius: 5px;
    font-size: 25px;
}

/*adding some styles for my custom html5 video player*/
.mainvideo {
    width: 100%;
    margin: 0px auto;
    height: 400px;
}

.videoPlayer {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    position: relative;
    font-size: 100%;
    font-family: tahoma;
}

.videoPlayer_video {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: block;
}

.videoPlayer_cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
    opacity: 0.8;
    text-align: center;
}

    .videoPlayer_cover p {
        text-align: center;
        color: #FFF;
    }

        .videoPlayer_cover p span {
            margin-top: 8%;
        }

        .videoPlayer_cover p:nth-child(2) {
            font-size: 200%;
        }

.videoPlayer_buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: rgba(31,30,33,0.3);
    border-top: solid 1px rgba(31,30,33,0.5);
}

    .videoPlayer_buttons ul {
        text-align: center;
        color: #FFF;
        display: block;
        padding: 0px;
        text-indent: 0px;
    }

        .videoPlayer_buttons ul li {
            display: inline-block;
            list-style: none;
            padding: 5px 5px;
            cursor: pointer;
        }

.timeline {
    width: 45%;
    overflow: hidden;
    margin: 13px 5px;
    box-shadow: 0px 0px 5px 0px #000,inset 0px 0px 3px 0px #FFF;
    vertical-align: top;
    border-radius: 3px;
    background-color: #8f9598;
    padding: 0px !important;
}

.timeline-loaded {
    background-color: #c1c6c9;
    padding: 0px;
    margin: 0px;
    width: 0%;
}

.timeline-current {
    background-color: #dc3932 !important;
    padding: 4px 0px;
    margin: 0px;
    width: 0%;
}
/*adding some styles for my custom html5 video player*/
.form-control {
    direction: ltr;
    text-align: left;
}
