@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="row">
    <div class="col-md-12">
       @ViewData["Title"]
        <p class="text-danger">ئێوە ناتوانن ئەم بەشە ببینن تکایە بەرپرسان ئاگادار بکەنەوە.</p>
        <a href="/Home/Index" class="btn btn-info"> گەڕانەوە بۆ ماڵپەڕی سەرەکی  </a>
    </div>
</div>
<header>
    
</header>
