@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="row">
    <div class="col-md-12">
        ئیمەیلەکەتان پشت ڕاست کراوە
        <div class="row">
            <div class="col-md-12">
                <a href="/Home/Index" class="btn btn-info"> گەڕانەوە بۆ ماڵپەڕی سەرەکی  </a>
                <a href="/Identity/Account/Login" class="btn btn-info"> چوونە ژوور  </a>
            </div>
        </div>

    </div>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
