<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebsitePresentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sitelarge.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sitemedium.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sitesmall.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/siteforall.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebsitePresentation.styles.css" asp-append-version="true" />
    <script src="~/js/ckeditor/ckeditor.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">گەڕانەوە بۆ ماڵپەری سەرەکی</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                      @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="HomeAdmin" asp-action="Index" asp-area="AdministratorArea">بابەتەکان</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="SectionPostTypes" asp-action="Index" asp-area="AdministratorArea">جۆری پۆستەکان</a>
                        </li>*@
                        @if (User.IsInRole("ArmyAdmin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="ArmyMembersArea" asp-controller="ArmyMembers" asp-action="Index" asp-area="AdministratorArea">ئەندامان</a>
                            </li>
                           @*  <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="ArmyMembersArea" asp-controller="ArmyMembersAccounts" asp-action="Index" asp-area="AdministratorArea">ئەکاونت</a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="ArmyMembersArea" asp-controller="ArmySocialsNames" asp-action="Index" asp-area="AdministratorArea">جۆری سۆشیال میدیا</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
